{% extends "EspritTaxiDriverBundle::layout.html.twig" %}


 
{% block navbar %}
<div class="top-nav">
						<ul>
							<li><a href="{{path("esprit_taxidriver_resp_agence_homepage")}}">Accueil</a></li>
							<li><a href="{{path("esprit_taxidriver_a_propos")}}">A propos</a></li>
							<li><a href="{{path("fos_user_profile_show")}}">Profile</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_affi_agence")}}">Nos agences</a></li>
							<li class="active"><a href="{{path("esprit_taxidriver_resp_agence_listOffre")}}">Offres</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_resp_agence_listRNCreclamation")}}"> Reclamations  </a></li>
                                                        <li><a href="{{path("esprit_taxidriver_resp_agence_listChauffeur")}}">Chauffeurs</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_resp_agence_listVoiture")}}">Vehicules</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_resp_agence_listTrajet")}}"> Trajet </a></li>
							<li><a href="{{path("esprit_taxidriver_contact")}}">Contact</a></li>
							<div class="clear"> </div>
						</ul>
                                            
					</div>
{% endblock %}



{% block content %}
    

		 		<div class="wrap">
			 		<div class="mid-grid">
			 			<h3>REPAIRS</h3>
			 			<a href="#"><img src={{asset("images/repair.png")}} title="repair" /></a>
			 			<h4>It long established</h4>
			 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
			 			<a class="button" href="#">More</a>
			 		</div>
			 		<div class="mid-grid">
			 			<h3>SPARES</h3>
			 			<a href="#"><img src={{asset("images/spares.png")}} title="spares" /></a>
			 			<h4>It long established</h4>
			 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
			 			<a class="button" href="#">More</a>
			 		</div>
			 		<div class="mid-grid">
			 			<h3>SALES</h3>
			 			<a href="#"><img src={{asset("images/sales.png")}}  title="sales" /></a>
			 			<h4>It long established</h4>
			 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
			 			<a class="button" href="#">More</a>
			 		</div>
			 		<div class="clear"> </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                       <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{asset("images/repair.png")}}" alt="Chania">
    </div>

    <div class="item">
      <img src="{{asset("images/spares.png")}}" alt="Chania">
    </div>

    <div class="item">
      <img src="{{asset("images/sales.png")}}" alt="Flower">
    </div>

    
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
                                        
                                        
                                        
                                        
		 		</div>
		 	
    
{% endblock %}