{% extends "EspritTaxiDriverBundle::layout.html.twig" %}




{% block navbar %}
<div class="top-nav">
						<ul>
							<li><a href="{{path("esprit_taxidriver_resp_agence_homepage")}}">Accueil</a></li>
							<li><a href="{{path("esprit_taxidriver_a_propos")}}">A propos</a></li>
							<li><a href="{{path("fos_user_profile_show")}}">Profile</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_affi_agence")}}">Nos agences</a></li>
							<li><a href="{{path("esprit_taxidriver_resp_agence_listOffre")}}">Offres</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_resp_agence_listRNCreclamation")}}"> Reclamations  </a></li>
                                                        <li><a href="{{path("esprit_taxidriver_resp_agence_listChauffeur")}}">Chauffeurs</a></li>
                                                        <li class="active"><a href="{{path("esprit_taxidriver_resp_agence_listVoiture")}}">Vehicules</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_resp_agence_listTrajet")}}"> Trajet </a></li>
							<li><a href="{{path("esprit_taxidriver_contact")}}">Contact</a></li>
							<div class="clear"> </div>
						</ul>
                                            
					</div>
{% endblock %}


{% block content %}
<div class="gallery-grids">
						<div class="gallery-grid">
							<a href={{asset("images/slider1.jpg")}}><img src={{asset("images/slider1.jpg")}} alt=""></a>
							<h4>Aenean nonummy hendrerit</h4>
							<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
							<div class="gallery-button"><a href="#">Read More</a></div>
						</div>
						<div class="gallery-grid grid2">
							<a href={{asset("images/slider3.jpg")}}><img src={{asset("images/slider3.jpg")}} alt=""></a>
							<h4>nonummy hendrerit mauris</h4>
							<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
							<div class="gallery-button"><a href="#">Read More</a></div>
						</div>
						<div class="gallery-grid">
							<a href={{asset("images/slider2.jpg")}}><img src={{asset("images/slider2.jpg")}} alt=""></a>
							<h4>hendrerit mauris. Phasellus</h4>
							<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
							<div class="gallery-button"><a href="#">Read More</a></div>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="clear"> </div>
					<div class="gallery-grids">
						<div class="gallery-grid">
							<a href={{asset("images/slider3.jpg")}}><img src={{asset("images/slider3.jpg")}} alt=""></a>
							<h4>Fusce suscipit varius mi. Cum</h4>
							<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
							<div class="gallery-button"><a href="#">Read More</a></div>
						</div>
						<div class="gallery-grid grid2">
							<a href={{asset("images/slider1.jpg")}}><img src={{asset("images/slider1.jpg")}} alt=""></a>
							<h4>sociis natoque penatibus et</h4>
							<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
							<div class="gallery-button"><a href="#">Read More</a></div>
						</div>
						<div class="gallery-grid">
							<a href={{asset("images/slider2.jpg")}}><img src={{asset("images/slider2.jpg")}} alt=""></a>
							<h4>hendrerit mauris. Phasellus</h4>
							<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
							<div class="gallery-button"><a href="#">Read More</a></div>
						</div>
					</div>
					
				    <div class="clear"> </div>
				    <div class="projects-bottom-paination">
						<ul>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
						</ul>
					</div>
				</div>
				</div>		 	
{% endblock %}