{% extends "EspritTaxiDriverBundle::layout2.html.twig" %}

{% block head %}

<title>TaxiDriver</title>
		<link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		  <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
		<script type="text/javascript" src="{{asset("js/jquery.lightbox.js")}}"></script>
				    <link rel="stylesheenkt" type="text/css" href="{{asset("css/lightbox.css")}}" media="screen">
				  	<script type="text/javascript">
				    $(function() {
				        $('.gallery-grid a').lightBox();
				    });
				    </script>    

{% endblock %}


{% block navbar %}
<div class="top-nav">
						<ul>
							<li><a href="{{path("esprit_taxidriver_client_homepage")}}">Accueil</a></li>
							<li><a href="{{path("esprit_taxidriver_a_propos")}}">A propos</a></li>
                                                        <li><a href="{{path("fos_user_profile_show")}}">Profile</a></li>
							<li class="active"><a href="{{path("esprit_taxidriver_affi_agence")}}">Nos agences</a></li>
							<li><a href="{{path("esprit_taxidriver_affi_offre")}}">Offres</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_client_reservation_taxi")}}">Reservations</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_affi_chauffeur")}}">Chauffeurs</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_affi_vehicule")}}">Vehicules</a></li>
							<li><a href="{{path("esprit_taxidriver_contact")}}">Contact</a></li>
							<div class="clear"> </div>
						</ul>
                                            
					</div>
{% endblock %}


{% block content %}
</br></br></br>



<div class="wrap">   
    <div class="gallery-grids">
    
   
    {% for a in agences %}
            
		<div class="gallery-grid">
	        <a href={{asset("images/slider1.jpg")}}><img src={{asset("images/slider1.jpg")}} alt=""></a>
                <h4>{{a.nomAgence}}</h4>
                <p>n° tel : {{a.telagence}}</br>Adresse : {{a.adresseagence}}</br><div class="gallery-button"><a href="#">Plus de détails</a></div><p>
		</div>
                
    {% endfor %}    
        
    <div class="clear"> </div>
    
    <div class="clear"> </div>
</div>
</div>    	 	
{% endblock %}