{% extends "EspritTaxiDriverBundle::layout2.html.twig" %}

{% block head %}
{{parent()}}
<title></title>
<style type="text/css">
<!--

.hide{

visibility: hidden

}

.defaut{
border-style: solid;
border-color: #AAAAAA;
border-width: 2px;
}
 
.selected{
border-style: solid;
border-color: #AAAAAA;
border-width: 2px;
background-color: #8888DD;
}
//-->
</style>
 
<script type="text/javascript">
<!--
oldObj = null;
function SelectLigne(obj)
{
 var idLigne=obj.id;
 obj.className="selected";
 

 
 document.getElementById("selectC").value=obj.cells[5].id;
 
 if (oldObj!==null)
 {
    oldObj.className = "defaut";
    oldObj = obj;
 }
 else
 {
    oldObj = obj;
 }
 
 
 
}
 
//-->
</script>
{% endblock %}

    
{% block navbar %}
<div class="top-nav">
						<ul>
							<li><a href="{{path("esprit_taxidriver_client_homepage")}}">Accueil</a></li>
							<li><a href="{{path("esprit_taxidriver_a_propos")}}">A propos</a></li>
							<li><a href="{{path("fos_user_profile_show")}}">Profile</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_affi_agence")}}">Nos agences</a></li>
							<li><a href="{{path("esprit_taxidriver_affi_offre")}}">Offres</a></li>
                                                        <li class="active"><a href="{{path("esprit_taxidriver_client_reservation_taxi")}}">Reservations</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_affi_chauffeur")}}">Chauffeurs</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_affi_vehicule")}}">Vehicules</a></li>
							<li><a href="{{path("esprit_taxidriver_contact")}}">Contact</a></li>
							<div class="clear"> </div>
						</ul>
                                            
					</div>
{% endblock %}

{% block content %}
			 		    
<form method="POST" action="">
<h2>Choix du trajet</h2>

{{form_widget(form.date)}}

<br>

Adresse Source :
<select name="Adressesrc">
  {% for d in dest %}
  <option>{{d.nom}}</option>
  {% endfor %}
</select><br>

Adresse Destination :
<select name="Adressedest">
  {% for d in dest %}
  <option>{{d.nom}}</option>
  {% endfor %}
</select><br>

<h1>Liste des taxi</h1>
<table border="1" class="defaut" >
    
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Note</th>
        <th>Voiture</th>
        <th>Nombre de Place</th>   
    </tr>
    
    {% for t in taxi %}
        <tr class="defaut" onclick="SelectLigne(this)">
            <td class="defaut">{{t.nom}}</td>
            <td class="defaut">{{t.prenom}}</td>
            <td class="defaut">{{t.note}}</td>
            <td class="defaut">{{t.typevoiture}}</td>
            <td class="defaut">{{t.nbrplace}}</td>
            <td class="hide" id="{{t.idtaxi}}"></td>
        </tr>
    {% endfor %}        
    
</table>  
    
<input type="hidden" id="selectC" name="selectionCourante" value="" >
<br>
<input type="submit" value="Ajouter"/>
{{form_rest(form)}}
</form>
{% endblock %}
