{% extends "EspritTaxiDriverBundle::layout2.html.twig" %}

{% block navbar %}
<div class="top-nav">
						<ul>
							<li><a href="{{path("esprit_taxidriver_client_homepage")}}">Accueil</a></li>
							<li><a href="{{path("esprit_taxidriver_a_propos")}}">A propos</a></li>
                                                        <li><a href="{{path("fos_user_profile_show")}}">Profile</a></li>
							<li><a href="{{path("esprit_taxidriver_affi_agence")}}">Nos agences</a></li>
							<li><a href="{{path("esprit_taxidriver_affi_offre")}}">Offres</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_client_reservation_taxi")}}">Reservations</a></li>
                                                        <li><a href="{{path("esprit_taxidriver_affi_chauffeur")}}">Chauffeurs</a></li>
                                                        <li class="active"><a href="{{path("esprit_taxidriver_affi_vehicule")}}">Vehicules</a></li>
							<li><a href="{{path("esprit_taxidriver_contact")}}">Contact</a></li>
							<div class="clear"> </div>
						</ul>
                                            
					</div>
{% endblock %}





{% block content %}
    
   </br></br></br>



<div class="wrap">   
    <div class="gallery-grids">
    
   
    {% for v in voitures %}
            
		<div class="gallery-grid">
	        <a href={{asset("images/slider1.jpg")}}><img src={{asset("images/slider1.jpg")}} alt=""></a>
                <h4>{{v.typevoiture}}</h4>
                <h3><u>Informations générales :</u></h3>
                <p>Nombres de places :{{v.nbrplace}}</br>Matricule :{{v.matricule}}</br></br><div class="gallery-button"></div>
		</div>
                {{"                 "}}
            
    {% endfor %}    
        
    <div class="clear"> </div>
    
    <div class="clear"> </div>
</div>
</div>    
{% endblock %}