{% extends "EspritTaxiDriverBundle:Administrateur:layout.html.twig" %}
{% block breadcrumb %}
    
<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{{path("esprit_taxidriver_admin_homepage")}}">Accueil</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">Dashboard</a></li>
			</ul>    
{% endblock %}    

{% block rowfluid %}

 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 120%;
      margin: auto;
      
    height: 50%;
  }


  </style>
       <div class="container">
  
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="img\taxi1.JPG" alt="Chania" width="400" height="50">
      </div>

      <div class="item">
        <img src="img\taxi1.jpg" alt="Chania" width="400" height="50">
      </div>
    
      <div class="item">
        <img src="img\taxi1.jpg" alt="Flower" width="400" height="50">
      </div>

      <div class="item">
        <img src="img\taxi1.jpg" alt="Flower" width="400" height="50">
      </div>
    </div>

    <!-- Left and right controls -->





<div class="row">
    <div class="box1"   margin-top="50px">
                                 <a href="{{path("esprit_taxidriver_admin_taxi_voit")}}" class="quick-button metro black span8">
					<i class="icon-envelope"></i>
					<p>Email</p>
					<span class="badge"></span>
				</a>

    </div>
  
            <div class="box1">                           
				<a href="{{path("listClient")}}" class="quick-button metro yellow span8">
                                    <i class="icon-group"></i>
					<p>Clients</p>
					<span class="badge"></span>
				</a>
                                        </div>
                                      
                                    
                                  <div class="box1">
                                    
                                 <a href="{{path("listAgence")}}" class="quick-button metro black span8">
					<i class="icon-shopping-cart"></i>
					<p>Agences</p>
					<span class="badge"></span>
				</a>
                                  </div>
                                    

                                  <div class="box1">
				<a href="{{path("pidev_taxi_com")}}" class="quick-button metro yellow span8">
					<i class="icon-comments-alt"></i>
					<p>Commentaires</p>
					<span class="badge"></span>
				</a>
                                  </div>
                                        <div class="box1">
                                    
                                     <a href="{{path("pidev_taxi_voit")}}" class="quick-button metro yellow span8">
					<i class="icon-shopping-cart"></i>
                                        
					<p>Voitures</p>
				</a>
                                        </div>
                                        
                                        <div class="box1">
				<a href="{{path("pidev_taxi_offre")}}" class="quick-button metro black span8">
					<i class="icon-barcode"></i>
					<p>Offres</p>
				</a>
                                          
                                        </div>
                                        <div class="box1">
				<a href="{{path("pidev_taxi_voit")}}" class="quick-button metro yellow span8">
					<i class="icon-calendar"></i>
					<p>Statistiques</p>
				</a>
                                        </div>
                                        
                                        <div class="box1">
                                          
                                    <a href="{{path("pidev_taxi_cal")}}" class="quick-button metro black span8">
					<i class="icon-calendar"></i>
					<p>Calendrier</p>
				</a>
                                        </div>
                                         
                                    
                                   
				
				<div class="clearfix"></div>
                                
								
			</div><!--/row-->
                   
                        
  <br>

                     
                        
                        {% endblock %}   